body{
	background-image:url(../images/bg.jpg); 
	background-repeat:repeat;
	background-color1:#ffffff;
}
.main{
	margin-right: auto;
	margin-left: auto;
}


@media (min-width: 900px){
	.main{
		width: 900px;
	}
}
.main-content{
	padding: 30px;
	min-height: 500px;
	padding-bottom: 100px;
}

#main-left-shadow{
	position:absolute;
	top: 0;
	left: 0;
	visibility:hidden;
	background:url(../images/bg_left.png) repeat-y;
	/*
	background:url(../images/bg_left.png);
	background-size: 100%;
	*/
}
#main-right-shadow{
	position:absolute;
	top: 0;
	right:0;	
	visibility:hidden;
	background:url(../images/bg_right.png) repeat-y right;
	/*
	background:url(../images/bg_right.png);
	background-size: 100%;
	*/
}

p{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#633;	
	text-align:justify;
}
h1{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:20px;
	color:#633;
	
}
h2{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:16px;
	color:#633;
		
}
#inside_cont{
	padding:30px;
	padding-left:60px;	
	padding-right1:50px;
}



/*menu*/
.nav-pills {
	text-align:right;
}

.nav-pills a{
	color: #633;
	font-size:18px;
	text-align:right;
}
.nav-pills>.active>a, .nav-pills>.active>a:hover, .nav-pills>.active>a:focus {
	color: inherit;
	background-color:transparent;
}
.nav-pills a:hover, .nav-pills>li>a:hover{
	background-color:transparent;
	text-decoration:underline;
}
.nav-pills>.active>a:hover{
	text-decoration:underline;
}
.masthead h3 {
	margin-left: 40px;
	margin-top: 20px;
	height: 57px;
	text-indent:-100000px;
	background: url(../images/logo1.png) no-repeat;
}
#myCarousel{
	margin-top: 5em;
	margin-bottom: 2em;
}
.footer p {
	text-align:center;
}
.row twits{
	text-align:center;
}
.twits img{
	margin: 30px;
}

a.textlink{
	font-size:12px;	
	font-style:italic;
	color:#633;
}
a.textlink:hover{
	text-decoration:underline;
}

.paspartu_left{
    padding: 5px; /* Ширина паспарту */
    background: #f0f0f0; /* Цвет фона  паспарту */
    border: 1px solid #633; /* Параметры рамки */	
	float:left;
	margin-left: 0px;
}
.paspartu_right{
    padding: 5px; /* Ширина паспарту */
    background: #f0f0f0; /* Цвет фона  паспарту */
    border: 1px solid #633; /* Параметры рамки */	
	float:right;
	margin-right: 0px;
}
.gallery{
    padding: 8px; /* Ширина паспарту */
    background: #f0f0f0; /* Цвет фона  паспарту */
    border: 1px solid #633; /* Параметры рамки */
	margin:0px;
	text-align:center;	
}
.gallery-cont .row-fluid {
	margin-top:30px;
}
.gallery-cont .row-fluid img {
	display: block;
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.voice span{
	margin-left: 1em;
}

.left, .right{
	margin1: 15px;
}
.right{
	float:right;
	margin-right: 0px;
}
.left{
	float:left;
	margin-left: 0px;
}
.center{
	float:centre;
}
.clear{
	clear:both;
}
#agent_manager{
	padding-left:50px;	
}

.media_main{
	float:left; 
	width:450px;
	margin-left: 20px;
}
.media_menu{
	float:right; 
	width:200px;
	height: 600px;
	overflow:auto;
	background-color:#dddddd;
	padding1: 10px;
}

.media_main .title{
	margin-bottom: 20px;
}
.media_main .video{
	margin-bottom: 5px;
}

.media_menu_item{
	width: 160px;
	margin-left: 10px;
	margin-bottom: 15px;
	text-decoration:none;
	line-height:11px;
}
.media_menu_item a{
	text-decoration:none;
}
.media_menu_item .title{
	display:none;
}


.publicity .thumbnail p{
	text-align:center;
}
.publicity .thumbnail {
}
/*override thumbnail blue border*/
a.thumbnail:hover,
a.thumbnail:focus {
  border-color: #ddd;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.055);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.055);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.055);
}

